body {
  background-color: rgb(95, 95, 95);
}
#form {
  margin: auto;
  background-color: rgb(237, 237, 237);
  width: 45%;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Times New Roman", Times, serif;
}
.line {
  border: 1px solid gray;
  width: 30%;
}
p {
  text-align: center;
  margin-bottom: 50px;
}

.names {
  margin-right: 40px;
  width: 30%;
}
.credentials {
  margin-left: 50px;
}

input {
  width: 80%;
  padding: 10px 30px;
  margin-bottom: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  outline: none;
}
#btn {
  width: 92%;
  margin-top: 10px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 3px;
}
#checkbox {
  width: 10%;

}
label {
  margin-left: -190px;
}

span {
  color: green;
}

#sign {
  color: #fff;
}
a {
  color: #fff;
}
